/* Redéfinition des tags HTML et des classes génériques */
@media braille, embossed, tty {
	.hiden {
		display: block;
		}
}
@media handheld, print, projection, screen, tv {
	.hiden {
		display: none;
		}
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
	background: #FFFFFF;
	margin: 0px;
	}
form {
	margin: 0;
	}
a {
	color: #000000;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
.clearer {
	line-height: 1px;
	float: none;
	height: 1px;
	clear: both;
	}
.bigbold {
	font-size: 1.05em;
	font-weight: bold;
	}
.suite {
	font-size: 0.9em;
	margin: 0.3em 0em;
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_gris_bg_blanc.gif) no-repeat 0px 3px;
	padding: 0px 0px 0px 12px;
	font-weight: bold;
	color: #999999 !important;
	}
.suitebleu {
	font-size: 0.9em;
	margin: 0.3em 0em;
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_bleu_bg_blanc.gif) no-repeat 0px 3px;
	padding: 0px 0px 0px 12px;
	font-weight: bold;
	color: #2C99B4 !important;
	}
.lireresume {
	text-indent: -3000px;
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_lireresume.gif) no-repeat 0px 0px;
	height: 10px;
	display: block;
	margin: 0.3em 0 0;
	}
.voirdoc {
	text-indent: -3000px;
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_voirdoc.gif) no-repeat 0px 0px;
	height: 10px;
	display: block;
	margin: 0.3em 0 0;
	}
.lireresume:hover, .voirdoc:hover {
	text-decoration: none !important;
	}

/* Styles des DIVs */
#outter {
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_outter.gif) repeat-x 0px 0px;
	}
#inner {
	min-width: 760px;
	max-width: 1100px;
	}
#header {
	height: 200px;
	}
	#header h1 {
		font-size: 1.8em;
		width: 545px;
		text-align: center;
		color: #1D267F;
		line-height: 1.1em;
		font-weight: normal;
		letter-spacing: 2px;
		padding-bottom: 4px;
		}
	#header h2 {
		font-size: 1em;
		width: 550px;
		text-align: center;
		font-style: italic;
		color: #1D267F;
		}

@media braille, embossed, tty, handheld, projection, screen, tv {
	#header h1 {
		margin: 0em 0em 2px 215px;
		}
	#header h2 {
		margin: 0em 0em 0em 215px;
		}
}


#nav-a {
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_nav-b.gif) repeat-x 0px 0px;
/*background-color:#ffffff;*/
	float: right;
	height: 22px;
	margin: 1px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 12px 0px 0px;
	font-size: 0.7em;
	line-height: 22px;
	}
	#nav-a a {
		color: #434ABF;
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/th_plus2.gif) no-repeat 0px 3px;
		margin: 0px 0px 0px 8px;
		padding: 0px 0px 0px 12px;
		text-decoration: none;
		}
		#nav-a a:hover {
			text-decoration: underline;
			}
#logo {
	font-size: 0.7em;
	color: #ffffff;
	padding: 10px 0px 0px 7px;
	}
	#logo p {
		margin-top: 0.5em;
		margin-bottom: 60px;
		}

#colg {
	float: left;
	}

@media braille, embossed, tty, handheld, projection, screen, tv {
	#colg {
		width: 215px;
		}
}

#search {
	margin: 0px 13px 35px 16px;
	font-size: 0.65em;
	}
	#search form {
		background: #7fd5f6;
		padding: 8px 10px 8px 13px;
		}
	#search .marg {
		margin-bottom: 5px;
		}
	#search input {
		border: 1px solid #A2A2A2;
		background: #FFFFFF;
		color: #1D267F;
		font-size: 1em;
		}
	#search .go {
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_search_go.gif) no-repeat 0px 3px;
		margin-left: 5px;
		padding-left: 10px;
		}
	#search #aide {
		float: right;
		}
	#search a {
		color: #1D267F;
		text-decoration: underline;
		}

#rss {
	color:white;
	margin: 0px 13px 20px 16px;
	font-size: 0.7em;
	}
	#rss a {
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/picto-rss.png) no-repeat 0px 0px;
		color:white;
		margin:0;
		padding:0px 0 2px 21px;
		}

#themes {
	margin: 0px 13px 2em 16px;
/*	font-size: 0.70em;*/
	font-size: 0.65em;
	}

.colg-blok {
	margin: 0px 13px 2em 16px;
	font-size: 0.65em;
	}

#cold {
	float: right;
	width: 177px;
	margin-right: 15px;
/*	margin-top:25px;*/
	}
	#cold p {
		font-size: 0.65em;
		margin: 0.5em 1em;
		}
.blocwend {
	background: #b2e6f9 url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_ends2_cold.gif) no-repeat 0% 100%;
	padding: 0px 0px 18px;
	margin: 0px 0px 22px;
	}
	.blocwend ul {
		margin: 0.5em 1em;
		padding: 0px;
		list-style-type: none;
		font-size: 0.65em;
		line-height: 1.2em;
		}
		.blocwend li {
			background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_gris_bg_rose.gif) no-repeat 0px 3px;
			padding: 0px 0px 3px 13px;
			}
	.blocwend a {
		color:#636363;
		}

.blocwend2 {
	background: #DDC5E0 url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_ends_cold.gif) no-repeat 0% 100%;
	padding: 0px 0px 18px 0px;
	margin: 0px 0px 22px 0px;
	}
	
.bloccible {
	padding: 0px 0px 18px;
	margin: 0px 0px 22px;
	}

#ministres h4, #ministres2 h4, #ministres3 h4 {
	font-size: 0.65em;
	border-top: 1px solid #A4A4A4;
	margin: 0.5em 0px;
	padding: 5px 1em 5px 2em;
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_gris_bg_vert.gif) no-repeat 1em 8px;
	}
#ministres ul, #ministres2 ul, #ministres3 ul {
	font-size: 0.65em;
	padding: 0em;
	margin: 0em 1em 0em 2.5em !important;
	list-style-type: disc !important;
	}
	#ministres li, #ministres2 li, #ministres3 li {
		margin: 0px 0em 0.5em !important;
		padding: 0 !important;
		background: none !important;
		}

#centre {
	margin: 27px 220px 0px 251px;
	}
	#centre h3 {
		margin: 0px 0px 5px 0px;
		background: #FFFFFF;
		border-bottom: 1px solid #636363;
		font-size: 0.95em;
		line-height: 1.7em;
		padding: 0px 0px 0px 10px;
		color: #8e4098;
		letter-spacing: 1px;
		}
#rdv {
	margin-bottom: 11px;
	}
	#rdv .titre {
		font-size: 0.7em;
		font-weight: bold;
		color: #2C99B4;
		background: #B3DBE4;
		padding: 0.5em;
		margin: 0px;
		}
	#rdv .detail {
		font-size: 0.7em;
		background: #D5EBF0;
		margin: 0px;
		padding: 0.5em;
		}
#une {
	background: #F5E3A7;
	float: left;
	margin: 0px 0px 13px;
	width: 100%;
	}
	#une h3 {
		background: #FFFFFF;
		margin: 0px;
		padding: 0px 0px 0px 15px;
		color: #2C99B4;
		font-size: 0.95em;
		line-height: 1.4em;
		letter-spacing: 1px;
		}
	#une .article {
		padding: 0.5em;
		}
	#une img {
		float: left;
		}
	#une p {
		font-size: 0.7em;
		margin: 0px 0px 0px 100px;
		padding: 0;
		}
	#une a {
		font-weight: bold;
		}

#actu {
	margin: 3px 0px 16px 0px;
	border-bottom: 1px solid #DDDDDD; 
	float: left;
	width: 100%;
	}
	#actu img {
		float: left;
		}
	#actu p.titre {
		font-weight: bold;
		color: #8e4098;
		margin-bottom: 0.5em;
		}
	#actu .article {
		padding: 0.5em;
		border-right: 1px solid #DDDDDD;
		border-left: 1px solid #DDDDDD;
		}
		#actu .article p {
			font-size: 0.7em;
			margin: 0px 0px 0px 96px;
			}


#large .titre {
	font-weight: bold;
	color: #F7BF00;
	margin-bottom: 0.5em;
	}
#actu p.tout, #large p.tout, #large_com p.tout {
	font-weight: bold;
	color: #017EAD;
	}
#actu p.tout a, #large p.tout a, #large_com p.tout a {
	color: #017EAD;
	}

#large_com p.toutgris {
	font-size: 1em;
	color: #636363;
	}

#actu .express {
	border: 1px solid #DDDDDD;
	padding: 10px;
	background-color:#F2F2F2;
	}
	#actu .express h4 {
		font-size: 0.7em;
		margin: 0 0 0.5em 0;
		}
	#actu .express p {
		font-size: 0.7em;
		margin: 0px;
		color:#636363;
		}
	#actu .express a {
		color:#017EAD;
		}

#actu .express .rss {
	margin: 10px 0px 2px 0px;
	font-size: 0.7em;
	text-align:right;
	}
	#actu .express .rss a {
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/picto-rss.png) no-repeat 0px 0px;
		color:#BBBBBB;
		margin:0;
		padding:0px 0 2px 21px;
		}

.block {
	margin: 0px 0px 22px;
	padding-right: 16px;
	}
	.block p {
		font-size: 0.7em;
		margin: 0px 0px 3px;
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_gris_bg_blanc.gif) no-repeat 0px 3px;
		padding: 0px 0px 0px 22px;
		}
#pied {
	clear: both;
	margin: 0 15px 0 215px;
	text-align: center;
	padding-bottom: 1em;
	}
#pied p {
	font-size: 0.6em;
	line-height: 1.5em;
	color: #017EAD;
	margin: 1em 0px 0px;
	}
	#pied p a {
		color: #017EAD;
		}

.o2paj {
	text-align: right;
	font-size: 0.65em;
	}
	.o2paj a {
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_o2paj.gif) no-repeat 0px 4px;
		padding: 0px 0px 0px 12px;
		color: #636363 !important;
		}


#logos {
	text-align: center;
	}
	#logos img {
		margin: 0 0 1em 0;
		}

#hautp {
	}
	#hautp p.intro {
		font-size: 0.8em;
		margin: 0.5em 0em 1em;
		padding: 0em 0em 0.5em;
		border-bottom: 1px solid #636363;
		}
		#hautp p.intro a {
			color: #017EAD;
			}

#basp {
	}
	#basp p.intro {
		font-size: 0.8em;
		margin: 0.5em 0em 1em;
		padding: 0em 0em 0.5em;
		border-top: 1px solid #636363;
		border-bottom: 1px solid #636363;
		}

#fondsdoc form {
	margin: 0.5em;
	}
#fondsdoc label {
	font-size: 0.7em;
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_gris_bg_vert.gif) no-repeat 0px 3px;
	display: block;
	padding: 0px 0px 0.5em 12px;
	}
#fondsdoc select {
	font-size: 0.55em;
	width: 120px;
	margin-bottom: 0.5em;
	}
#fondsdoc input {
	font-size: 0.7em;
	font-weight: bold;
	background: #DDC5E0 url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_gris_bg_vert.gif) no-repeat 0% 50%;
	border: 0px none;
	color: #636363;
	padding: 0px 0px 0px 8px;
	}

#fondsdoc2 form {
	margin: 0.5em;
	}
#fondsdoc2 label {
	font-size: 0.7em;
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_bleu_bg_bleu.gif) no-repeat 0px 3px;
	display: block;
	padding: 0px 0px 0.5em 12px;
	}
#fondsdoc2 select {
	font-size: 0.55em;
	width: 120px;
	margin-bottom: 0.5em;
	}
#fondsdoc2 input {
	font-size: 0.7em;
	font-weight: bold;
	background: #DDEFF3 url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/fl_bleu_bg_bleu.gif) no-repeat 0% 50%;
	border: 0px none;
	color: #42BBD9;
	padding: 0px 0px 0px 8px;
	}

#courrier h3 {
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/ttl_courrier.gif) no-repeat 0px 0px;
	text-indent: -3000px;
	margin: 0px;
	height: 37px;
	}
	
#portails {
	margin: 0px 13px 2em 16px;
	font-size: 0.65em;
	}
	
#toptools {
	float: right;
	padding: 5px 0 0;
	}
	#toptools a {
		margin: 0px 0px 0px 1em;
		}

.partition {
	font-size: 0.7em;
	margin: 1em 0;
	}
	.partition a {
		background: #DDEFF3;
		padding: 2px 7px;
		margin: 0px 7px 0px 0px;
		}
	.partition .act {
		background: #95CCDA;
		padding: 2px 7px;
		font-weight: bold;
		margin: 0px 5px 0px 0px;
		color: #224587;
		}

#centre a, #large a, #large_com a {
	color: #017EAD;
	}

#large {
/*	margin: 27px 220px 0px 251px;*/	
	margin: 0px 15px 0px 251px;
	}
	#large h2 {
		font-size: 0.9em;
		margin: 0.5em 0em 1.5em;
		color: #F7BF00;
		}
	#large .plus h3 {
		margin: 0px;
		border-bottom: 1px solid #636363;
		color: #F7BF00;
		font-size: 0.9em;
		line-height: 1.4em;
		letter-spacing: 1px;
		}
	#large p {
		font-size: 0.7em;
		margin: 1em 0em 0.5em;
		}
	#large p.copy {
		font-size: 0.65em;
		font-style: italic;
		}
	#large ul {
		font-size: 0.7em;
		margin: 1em 0em;
		padding: 0;
		}
		#large ul ul {
			font-size: 1em;
			margin: 0;
			}
	#large li {
		margin: 0px 0px 3px;
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/carre_gris.gif) no-repeat 0px 7px;
		line-height: 1.6em;
		padding: 0px 0px 0px 7px;
		list-style-type: none;
		}

@media braille, embossed, tty, handheld,projection, screen, tv {
	#large_com {
		margin: 0px 15px 0px 250px;
		}
}

#large .rss {
	margin: 10px 0px 2px 0px;
	font-size: 0.7em;
	text-align:right;
	}
	#large .rss a {
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/picto-rss.png) no-repeat 0px 0px;
		color:#BBBBBB;
		margin:0;
		padding:0px 0 2px 21px;
		}

#large_com h1 {
	font-size: 0.9em;
	margin: 0.5em 0em;
	color: #333333;
	font-variant: small-caps;
	}
#large_com h2 {
	font-size: 1.1em!important;
	margin: 0.5em 0em 1.5em !important;
	color: #8e4098 !important;
	}
#large_com h3 {
	color: #017EAD;
	font-size: 0.9em;
	margin: 0.5em 0 0;
	}
#large_com h4 {
	margin: 1.5em 0 0;
	color: #000000;
	font-size: 0.8em;
	}
	#large_com h4 select, #large_com h4 input {
		font-size: 0.7em;
		}
#large_com h5 {
	color: #017EAD;
	font-size: 0.8em;
	margin: 1em 0 0;
	}
#large_com ol {
	font-size: 0.7em;
	margin: 0 0 0 2em;
	}
	#large_com ol li {
		margin: 0px 0px 0.5em;
		}
#large_com p {
	font-size: 0.7em;
	margin: 1em 0em 0.5em;
	}
	#large_com p.copy {
		font-size: 0.65em;
		font-style: italic;
		}
#large_com dl {
	font-size: 0.7em;
	margin: 2em 0 2em 0.25em;
	padding: 0px;
	}
#large_com dd {
	margin: 0 0 0 2em !important;
	}
#large_com ul {
	font-size: 0.7em;
	margin: 2em 0 2em 0.25em;
	padding: 0px;
	}
#large_com ol ul, #large_com ul ul, #large_com ul ul ul, #large_com ul ul ul ul {
	font-size: 1em !important;
	margin: 0 !important;
	}
#large_com ul ul li, #large_com ul ul ul li, #large_com ul ul ul ul li {
	margin: 0 0 0 0.5em !important;
	}
#large_com ul li {
	margin: 0px 0px 1em;
	padding: 0px 0px 0px 7px;
	background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/carre_gris.gif) no-repeat 0px 7px;
	list-style-type: none;
	line-height: 1.5em;
	}

#abc {
	width: 95%;
	margin: 0 auto 1.5em;
	border: 0;
	padding: 0;
	}
	#abc td {
		height: 37px;
		text-align: left;
		}
	#abc a {
		font-weight: bold;
		font-size: 0.9em;
		background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_glos_off.gif) no-repeat 0px 0px;
		padding: 4px 15px 10px 7px;
		line-height: 1.7em;
		}
		#abc a:hover, #abc span.act, #lettre span {
			text-decoration: none !important;
			font-weight: bold;
			font-size: 0.9em;
			background: url(http://archive.wikiwix.com/cache/display.php?url=http://www.minefe.gouv.fr/css/../img/bg_glos_on.gif) no-repeat 0px 0px;
			padding: 4px 15px 10px 7px;
			line-height: 1.7em;
			}
#lettre {
	height: 37px;
	width: 95%;
	margin: 0em auto;
	}

.def {
	margin: 0em auto 0.5em;
	width: 95%;
	background: #FDF3CC;
	padding: 8px;
	font-size: 0.7em;
	}
	.def strong {
		color: #2C99B4;
		font-size: 1.2em;
		}

#f_rechav, #f_commun {
	font-size: 0.7em;
	margin: 0em 0em 1em;
	}

.colorblock {
	background: #EED2E3;
	padding: 0.75em;
	margin: 0em 0em 1em;
	}

#f_rechav h5, #f_commun h5 {
	color: #017EAD;
	margin: 0em 0em 0.5em;
	font-size: 1.1em;
	}

#f_rechav input, #f_rechav select, #f_result select, #f_commun input, #f_commun select {
	font-size: 0.8em;
	}

.border {
	border: 1px solid #A2A2A2;
	margin: 0px 0px 3px;
	}

#f_rechav .colorblock label, #f_commun .colorblock label.fixed {
	width: 160px;
	display: block;
	float: left;
	}

#f_rechav select {
	margin: 5px 0px 0px;
	width: 195px;
	}

#f_rechav p {
	margin: 0em 0em 0.5em;
	}

.bt {
	color: #1D267F;
	background: #FFFFFF;
	border: 1px solid #A2A2A2;
	}

#f_commun a.bt {
	color: #1D267F;
	background: #FFFFFF;
	border: 1px solid #A2A2A2;
	font-size: 1em;
	font-weight: normal;
	padding: 0px 8px 0px 8px; 
	margin-top: 10px;
	margin-bottom: 10px;
	width:40px;
	}
	#f_commun a.bt:hover {
		text-decoration:none;
		}

#f_commun .bt2 a {
	color: #1D267F;
	font-size: 1em;
	font-weight: normal;
	padding: 0px; 
	margin:0px;
	}
	#f_commun .bt2 a:hover {
		text-decoration:none;
		}

#f_commun div.bt2 {
	color: #1D267F;
	background: #FFFFFF;
	border: 1px solid #A2A2A2;
	font-size: 1em;
	font-weight: normal;
	padding: 0px 8px 0px 8px; 
	margin-top: 10px;
	margin-bottom: 10px;
	width:40px;
	}

#f_result .colorblock p {
	margin: 0px;
	}
#f_result .big {
	font-size: 1.1em;
	font-weight: bold;
	color: #2C99B4;
	}

.folio {
	font-size: 0.7em;
	padding: 0 10px 1px;
	border: 1px solid #2C99B4;
	display: inline;
	margin: 0.5em 0;
	float: right;
	}

.res {
	clear: right;
	font-size: 0.7em;
	margin: 0.5em 0em 1.5em;
	}
	.res a {
		color: #2C99B4;
		}

.nota {
	clear: right;
	font-size: 0.65em;
	font-style: italic;
	}

#linklist {
	float: right;
	width: 100%;
	}
	#linklist h4 {
		font-size: 0.8em;
		}
	#linklist h5 {
		font-size: 0.7em;
		margin: 2.5em 0em 0.25em;
		}
	#linklist img {
		float: right;
		margin: 0px 0px 10px;
		}

ul.listhorizon {
	margin: 1em 0em 0em 0em !important;
	}
	ul.listhorizon li {
		background: none !important;
		float: left;
		padding: 0em 1em 0em 0em !important;
		}

.contfloat {
	float: left;
	width: 100%;
	}

table.data {
	font-size: 0.7em;
	background: #B0B0B0;
	}
	table.data td {
		background: #FFFFFF;
		padding: 5px;
		}
	table.data strong {
		color: #000000;
		}

.imgfloatright {
	margin: 0px 0px 10px 10px;
	float: right;
	}
